<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mayoolwin.ssisteam2_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".YRetrieveActivity" />
        <activity android:name=".YDisburseActivity" />
        <activity android:name=".YDisbDetailActivity" />
        <activity android:name=".ApproveRequestActivity" />
        <activity android:name=".MonthlyCheckActivity"
            android:label="@string/monthly_list_name"/>
        <activity android:name=".MonthlyCheckConfirmActivity"
            android:label="@string/monthly_confirm_name"/>
        <activity android:name=".MonthlyCheckDetailActivity"
            android:label="@string/monthly_detail_name"/>
        <activity android:name=".LoginActivity"
            android:label="@string/logic_activity_name"/>
        <activity android:name=".SecondAcitvity" />
        <activity android:name=".ViewAllPendingRequestActivity" />
        <activity android:name=".DelegateAuthorityActivity" />
        <activity android:name=".MakeNewRequestActivity" />
        <activity android:name=".DeleteAuthorityCheck" />
        <activity android:name=".ViewAllAdjustment" />
        <activity android:name=".ViewAllAdjustmentDetail" />
        <activity android:name=".TestActivity" />
        <activity android:name=".FileDiscrepancyActivity"
            android:label="@string/file_discrepancy_name"/>
        <activity android:name=".RequestHistory" />
        <activity android:name=".RequestDetailList" />
        <activity android:name=".UpdateRequestDetail" />
        <activity android:name=".ContactActivity"></activity>
    </application>

</manifest>